html{
    width: 100%;
    height: 100hv;
    position: relative;
}


html::after {
    background: yellow;
    content: "";
    opacity: 0.3;
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;   
    background-size: cover;
    
    
  }

  .nav-bar {
    
    background-color: rgb(246, 246, 168);  
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid blueviolet;
    z-index: 100;
  }
  .spacer {
    width: 100%;
    height: 95px;
  }
  
  .btns {
    position: relative;
    margin: 10px;
    right: 5%;
    border: none;
    background-color: blueviolet;
    transition: 0.15s;
    color: white;
    border-radius: 5px;
    width: 10%;
    max-width: 130px;
    white-space: normal;
    overflow-wrap: break-word;
  }
  .btns:hover {
    background-color: rgb(102, 6, 192);
  
    box-shadow: -2px 3px 8px -4px #0c2c57;
  }
  
h1{
    color:black;
    position: relative;
    text-align: center;
    justify-content: center;
    font-family: "Sofia", sans-serif;
}
h2{
    color: black;
    position: relative;
    text-align: center;
    justify-content: center;
    font-family: 'Lobster', cursive, trebuchet MS;
}
h1 em{
    color: blueviolet;
}
.about_me{
    text-align: center;
    justify-content: center;
    color: blueviolet;
    font-weight: bold;

}
.info{
    color: black;
    text-align: center;
    justify-content: center;
    display:flex;
    font-family: "Trirong", serif;
}
fieldset{
    border-radius: 5px;
    border:1px solid blueviolet;
}

.img-amal{
    justify-content: center;
    display: flex;
    margin: auto;
}
.follow_me{
    color: black;
    text-align: center;
    justify-content: center;
    display:flex;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
}
.links{
    text-align: center;
    clear: both;
}

.links a{
    margin: 2px;
    display: inline-block;
}
.card{
    background-color: wheat;
    width: calc(10px+100px);
    box-shadow: 0 4px 8px 0 grey;
    border-radius: 5px 5px 0 0;
    position: center;
    display: inline-block;
    margin: 10px;
    
    }
    
    .img{
        width: 100%;
        height: 100%;
        margin-bottom: -5px;
        
    }
    
    .card-text{
        
        background-color: wheat;
        color: black;
        
        
        
    }
    
    .card-text, h4, p, a{
        margin: auto;
        padding:8px 4px 10px;
        text-align: center;
    }
    
    a{
        color: blue;
    }
    .card-text h4{
        font-weight: bold;
    }